<% layout('layouts/boilerplate')%>

<h1 class="mb-5">Welcome to the YelpCamp!</h1>
<p>Jump right in and explore our many campgrounds.</p>
<p>Feel Free to share some of your own and comment on others!</p>
<form action="/campgrounds" method="GET">
<button>View Campgrounds</button>
</form>
